<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h1>CoachingController#ask</h1>
<h2> what should i do?</h2>
<form action="answer" method="get">
  <input type="text" name="query" placeholder="What shoud i do?">
  <input type="submit">
</form>
<p>Find me in app/views/coaching_controller/ask.html.erb</p>
